{% extends 'faq/base.html' %}

{% block content %}

    <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Recettes</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Search form -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" >
        <form action="{% url 'recipes:landing' %}" method="post">
          {% csrf_token %}
          <!-- <input type="hidden" class="hidden" value="question_id" name="question_id"> -->
            <div class="form-group {% if form.meal_number.errors %}has-warning has-feedback{% endif %}" >
              <label for="{{ form.meal_number.id_for_label }}" class="control-label">Combien de repas souhaitez vous préparer ?</label>
              {{ form.meal_number }}
            </div>
            <div class="form-group {% if form.course_options.errors %}has-warning has-feedback{% endif %}">
              <label for="{{ form.course_options.id_for_label }}" class="control-label">Quel(s) plat(s) doivent figurer au menu de chaque repas ?</label>
              {{ form.course_options }}
            </div>
            <button type="submit" name="action" value="question" class="btn btn-success">C'est parti !</button>
        </form>
        {% if errors %}
          <div>
            {% for key, error in errors %}
            {% autoescape off %}
              {{ error }}
            {% endautoescape %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Search Result -->
  <div class="container">
    <div class="row">
    {% for meal in meals %}

      {% if len(meal) == 1 %}
        <div class="col-lg-8 col-md-8 mx-auto" >
          {{ meal[0].title }}
          {{ meal[0].directions }}
          {{ meal[0].ingredients }}
        </div>

      {% elif len(meal) == 2 %}
        {% for recipe in meal %}
          <div class="col-lg-6 col-md-6 mx-auto" >
            {{ recipe.title }}
            {{ recipe.directions }}
            {{ recipe.ingredients }}
          </div>
        {% endfor %}

      {% else %}
        {% for recipe in meal %}
          <div class="col-lg-4 col-md-4 mx-auto" >
            {{ recipe.title }}
            {{ recipe.directions }}
            {{ recipe.ingredients }}
          </div>
        {% endfor %}

      {% endif %}
    {% endfor %}
    </div>
  </div>

{% endblock %}