{% extends 'faq/base.html' %}

{% block content %}

    <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Recettes</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Search form -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" >
        <form action="{% url 'recipes:landing' %}" method="post">
          {% csrf_token %}
          <!-- <input type="hidden" class="hidden" value="question_id" name="question_id"> -->
            <div class="form-group {% if form.meal_number.errors %}has-warning has-feedback{% endif %}" >
              <label for="{{ form.meal_number.id_for_label }}" class="control-label">Combien de repas souhaitez vous préparer ?</label>
              {{ form.meal_number }}
            </div>
            <div class="form-group {% if form.course_options.errors %}has-warning has-feedback{% endif %}">
              <label for="{{ form.course_options.id_for_label }}" class="control-label">Quel(s) plat(s) doivent figurer au menu de chaque repas ?</label>
              {{ form.course_options }}
            </div>
            <button type="submit" name="action" value="question" class="btn btn-primary">C'est parti !</button>
        </form>
        {% if errors %}
          <div>
            {% for key, error in errors %}
            {% autoescape off %}
              {{ error }}
            {% endautoescape %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

  {% if meal_list|length != 0 %}

  <!-- Search Result -->
  <div class="container">
    <div class="tab">
      {% for meal in meal_list %}
        <button class="tablinks" onclick="openMeal(event, 'Meal{{ forloop.counter }}')">Menu n°{{ forloop.counter }}</button>
      {% endfor %}
    </div>

      {% for meal in meal_list %}
      <div class="row meal-container" id="Meal{{ forloop.counter }}">
        {% for recipe in meal %}
          <div class="{% if meal|length == 1 %} col-lg-8
          {% elif meal|length == 2 %} col-lg-6
          {% else %} col-lg-4 mx-auto recipe-container
          {% endif %} mx-auto recipe-container"
          id="{{ recipe.type }}{{ recipe.id }}">
            <h3 class="text-center">{{ recipe.name }}</h3>
            <h5 class="text-center" style="color:#0085a1;">{{ recipe.get_type_display }}</h5>
            <h5>Ingrédients :</h5>
            <div>
              {% for ri in recipe.recipeingredient_set.all %}
                <p>{{ ri.ingredient.name }}{% if ri.quantity %} : {{ ri.quantity|floatformat }} {{ ri.unit }}{% endif %}</p>
              {% endfor %}
            </div>
            <h5>Instructions :</h5>
            <div>{{ recipe.directions|safe }}</div>
            <i class="fa fa-repeat">Trouver une autre recette</i>
            {% if recipe.pdf_file %}
            <p>
              <i class="fa fa-download" id="{{ recipe.pdf_file }}">
                <input type="hidden" name="variable" value="{{ recipe.id }}">
                Télécharger la recette
              </i>
            </p>
            {% endif %}
            <p>
              <input type="checkbox" id="{{ recipe.name }}">
              <label for="{{ recipe.name }}">Ajouter à la liste de courses</label>
            </p>
          </div>
        {% endfor %}
      </div>

      {% endfor %}

    <button type="submit" name="action" id="download-groceries-button" class="btn btn-primary col-lg-12">Télécharger la liste des courses</button>
    </div>


  {% endif %}

<script>
  var recipe_ids = ""
  {% for meal in meal_list %}
    {% for recipe in meal %}
      recipe_ids += "{{ recipe.id }} "
    {% endfor%}
  {% endfor %}
</script>

{% endblock %}