{% extends 'faq/base.html' %}

{% load static %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading text-center">
            <h1>{{ answer.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Answer Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-left">
         <p> {{ answer.upload_content|safe|urlize }} </p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Question Form -->
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-center">
          <button type="submit" class="btn btn-primary" id="satisfy">Cette réponse est utile !</button>
          <button type="submit" class="btn btn-primary" id="unsatisfy">Ça ne répond pas à ma question.</button>
          <p id="satisfied">Merci pour ce retour !</p>
        </div>
      </div>
  </div>

  <!-- Question Form -->
  <div class="container" id="unsatisfied">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto text-center">
          <h4 class="text-center question_tag">Aucune article ne semble répondre à votre question ?</h4>
        </div>
        <div class="col-lg-8 col-md-10 mx-auto text-left">
          <p style="margin-bottom: 20px;">Envoyez votre question en essayant d'être le plus spécifique possible. Vous pouvez préciser votre adresse mail pour être notifié.e dès que la réponse sera en ligne.</p>
        </div>
      </div>

    {% include "faq/question_form.html" %}
  </div>

  <hr>

<script>
   var answer_id = {{ answer_id }};
   var last_query = "{{ last_query }}";
</script>

{% endblock %}
