{% extends 'faq/base.html' %}

{% load static %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'faq/img/about-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>A Strada di u Core</h1>
          <span class="subheading">Questions & recettes !</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>L'association A Strada di u Core met à votre disposition deux services pour prendre soin de votre santé.</p>
      <p>Des questions sur un sujet de cardiologie ? Retrouvez de nombreuses réponses élaborées par l'équipe du centre.</p>
      <p>En panne d'inspiration pour vos repas cette semaine ? Les recettes du centre vous proposent des menus personnalisés, simples et équilibrés.</p>
    </div>
  </div>
</div>

<hr>

{% endblock %}