<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto" >
    <form action="{% url 'faq:answer_detail' answer_id=0 %}" method="post">
      {% csrf_token %}
      <!-- <input type="hidden" class="hidden" value="question_id" name="question_id"> -->
        <div class="form-group {% if form.content.errors %}has-warning has-feedback{% endif %}" >
          <label for="{{ form.content.id_for_label }}" class="control-label">Votre question</label>
        </div>
        <div>
          {{ form.content }}
        </div>
        <div class="form-group {% if form.email.errors %}has-warning has-feedback{% endif %}">
          <label for="{{ form.mail.id_for_label }}" class="control-label">Votre adresse email <em>(facultatif)</em></label>
          {{ form.mail }}
        </div>
        <button type="submit" name="action" value="question" class="btn btn-success">Envoyer</button>
    </form>
    {% if errors %}
      <div>
        {% for key, error in errors %}
        {% autoescape off %}
          {{ error }}
        {% endautoescape %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
